@import url('https://fonts.googleapis.com/css2?family=Oi&family=Roboto:wght@400;700&family=Stick&display=swap');

.linkStyles {
  color: var(--white);
  text-decoration: none;
}

.logoStyle {
  color: var(--title);
  text-decoration: none;
}

.linkStyles:hover {
  color: var(--white);
  text-decoration: none;
}

.logoStyle:hover {
  color: var(--title);
  text-decoration: none;
}