:root {
  --blue-twitter: #2aa9e0;
  --white: #f1f1f1;
  --gray-line: #dcdde0;
}

@media(prefers-color-scheme: light) {
  :root {
    --text: rgb(228, 228, 228);
    --background: #f2f3f5;
    --secondary-background: #ddd;
    --text-highlight: #b3b9ff;
    --title: #2e384d;
    --green: #4cd62b;
    --red: #e83f5b;
    --blue: #5965e0;
    --blue-dark: #4953b8;
  }
}

@media(prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --secondary-background: #151515;
    --text: #353535;
    --text-highlight: #464966;
    --title: #87a0d4;
    --green: #236812;
    --red: #771c2b;
    --blue: #282d68;
    --blue-dark: #161724;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}